page-add-place {
    agm-map{
        height: 250px;
    }
    ion-card {
    
        text-align: center;
      }
    
      .card-subtitle {
        font-size: 1.5em;
    
    
        color:#0080ff
      }
    
}
